/* Article customization
------------------------------------------------------- */
article {
    counter-reset: cnt_fig cnt_table;
    
    h1 {
	margin-top: 3rem;
    }

    h2 {
	margin-top: 2.5rem;
    }

    h3 {
	margin-top: 2rem;
    }

    header {
	h1, h2, h3 {
	    margin-top: 0;
	}
    }

    figcaption {
	    text-align: center;
	    font-style: italic;
	    line-height: 1.2;
    }

    figcaption::before {
	    counter-increment: cnt_fig;
	    content: "Abbildung " counter(cnt_fig) ": ";
    }

    table {
	caption {
	    caption-side: bottom;
	    font-weight: normal;
	    font-style: italic;
	    line-height: 1.2;
	}
	caption::before {
	    counter-increment: cnt_table;
	    content: "Tabelle " counter(cnt_table) ": ";
	}
    }


    ul.bibliography {
	list-style-type: decimal;
    }
}
