

<div class="supporter-container">
  {% for cur_supporter in site.data.supporter %}
    {% assign cur_supporter_key = cur_supporter[0] %}
    {% assign cur_supporter_data = cur_supporter[1] %}
    {% assign cur_year =  'now' | date: "%Y" | plus: 0 %}
    {% if cur_supporter_data.sponsoring contains cur_year %} 
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell shrink">      
          <a href="{{ cur_supporter_data.url }}" target="blank"><img src="{{ site.image_dir | append: 'supporter/' | append: cur_supporter_data.logo | relative_url }}" style="width: 100%; max-width: 120px" alt="{{ cur_supporter_data.name }} Logo" title="{{ cur_supporter_data.name }} Logo"/></a>
        </div>
        <div class="cell small-auto medium-auto large-7">
          <p><b>{{ cur_supporter_data.name }}</b></p>
          <p>{{ cur_supporter_data.description }}</p>
        </div>
      </div>
   {% endif %}
  {% endfor %}
</div>
